<div class="text-center mt-16">
  <h2 class="text-3xl font-light text-gray-700">Create new account</h2>
</div>
<div class="absolute inset-x-0 shadow-xl bg-white md:w-1/5 mx-auto rounded-md border-t-8 border-yellow-400 mt-10 flex justify-center py-10">
  <div class="text-gray-600">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "focus:outline-none border-2 border-gray-200 py-1 px-2 rounded my-2" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "focus:outline-none border-2 border-gray-200 py-1 px-2 rounded my-2" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "focus:outline-none border-2 border-gray-200 py-1 px-2 rounded my-2" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "my-3 w-full py-2 bg-yellow-400 text-gray-600 cursor-pointer" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
