<% if @events.future_events.any? %>
    <table class="text-left m-4 bg-gray-lighter">
      <thead>
        <tr>
          <th class="py-4 text-gray uppercase">Title</th>
          <th class="py-4 px-10 text-gray uppercase">Date</th>
          <th class="py-4 px-10 text-gray uppercase">Location</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-3 font-mono text-green-500">
            Future events
          </td>
        </tr>
        <% @upcoming_events.each do |event| %>
          <tr class="border-b border-gray-400 bg-gray-100 font-mono">
            <td class="px-2"><%= event.title %></td>
            <td class="px-10"><%= event.time %></td>
            <td class="px-10 py-3"><%= event.location %></td>
            <td class="pl-10 pr-2"><li class="py-1 px-2 bg-yellow-400 rounded font-black list-none"><%= link_to 'Show', event %></li></td>
          </tr>
        <% end %>
        <tr>
          <td class="py-3 font-mono text-green-500">
            Past events
          </td>
        </tr>
        <% @past_events.each do |event| %>
          <tr class="border-b border-gray-400 bg-gray-100 font-mono">
            <td class="px-2"><%= event.title %></td>
            <td class="px-10"><%= event.time %></td>
            <td class="px-10 py-3"><%= event.location %></td>
            <td class="pl-10 pr-2"><li class="py-1 px-2 bg-yellow-400 rounded font-black list-none"><%= link_to 'Show', event %></li></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>