<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong><%= list_events(@events.future_events) %></strong>
  
</p>

<p>
  <li><%= attend_event %></li>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
